# playbooks/site.yml
---
- name: Configurar Windows Server para WebDesbloq
  hosts: windows
  gather_facts: yes
  
  roles:
    - common        # Ferramentas básicas (git, 7zip)
    - nodejs        # Node.js específico
    - rsat          # RSAT específico
    - iis           # IIS
    - webdesbloq-deploy  # Deploy da app
